<head>
<style>
#myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
</style>
<script>


function playvid() {
  var video = document.getElementById("myVideo");
  if(video.paused)
    video.play();
}

</script>

</head>

<body onload="setInterval(playvid(), 1000)">
<video autoplay loop id="myvideo">
  <source src="rickroll.mp4" type="video/mp4">
</video> 
</body>
